@import "../variables/_colors"
@import "../variables/spacing"

.form_controller
	div
		display: grid
		grid-template-columns: 1fr
		justify-content: center
		align-items: center
		margin: 5rem auto
		max-width: 10rem

		label
			margin: 2rem auto
			cursor: pointer

		input
			margin: $spacing-min-min $spacing-min-min

	.login_btn
		top: 9rem

		&:hover
			top: 8rem

			&:active
				top: 9rem

	button
		margin: 2rem auto
		padding: $spacing-min-min
		font-size: $spacing-mid-min
		border-radius: $spacing-mid
		border: none
		cursor: pointer
		transition: .5s ease-in-out
		width: 7rem
		top: 22rem
		left: 1rem

		&:hover
			color: $color-five
			background-color: $color-tertiary
			top: 21.0rem
			box-shadow: 2px 2px 2px 6px $color-tertiary

		&:hover:active
			top: 22.0rem
