@import "../variables/_colors"
@import "../variables/spacing"

.Header_Container
	display: flex
	align-items: center
	justify-content: space-between
	background-color: $color-primary

	h1
		color: $color-four
		font-weight: 200
		margin-left: 1.6rem

	.icon
		color: $color-five
		visibility: hidden
		cursor: pointer
		margin-left: 10rem

	nav
		display: flex
		margin-left: $spacing-large
		gap: $spacing-mid

		ul
			display: flex
			align-items: center
			gap: $spacing-large
			margin-right: $spacing-large

			li
				position: relative
				font-size: $spacing-mid-min
				transition: .5s ease

				&::after
					content: ""
					width: 0%
					height: 2px
					background-color: $color-five
					position: absolute
					border-radius: .3rem
					bottom: 0
					left: 0
					transition: .5s ease-in-out

				&:hover::after
					width: 100%

				a
					color: $color-four

@media (max-width: 700px)
	.Header_Container
		position: relative

		.icon
			visibility: visible
			z-index: 4

		nav

			ul
				display: flex
				flex-direction: column
				gap: 0
				justify-content: space-evenly
				text-align: center
				position: absolute
				visibility: hidden
				left: 0
				top: 0
				right: 0
				padding: 0
				margin: 0
				width: 100vw
				height: 0
				backface-visibility: hidden
				transition: .5s ease-in-out
				overflow-x: auto

				& > li
					margin: 0
					padding: 0

				& > li > a
					color: $color-five

				& > li::after
					background-color: $color-four

		.active
			visibility: visible
			background-color: $color-primary
			height: 100vh
