@import "../variables/_colors"
@import "../variables/spacing"

.inputs[type='file']
	width: 0.1px
	height: 0.1px
	opacity: 0
	position: absolute
	overflow: hidden

.inputs
	padding: $spacing-min-min
	border-radius: $spacing-min-min
	border: none

	&:focus
		outline: none
		box-shadow: 1px 1px 1px .5px $color-five

	&::placeholder
		font-size: $spacing-min
		padding-left: $spacing-min-min
