@import "../variables/_colors"
@import "../variables/spacing"

.container
	margin: $spacing-large auto
	padding: $spacing-large
	background-color: $color-five
	width: 400px
	transform: skewX(-15deg)

.container_content
	text-align: center
	transform: skewX(15deg)

.title
	text-transform: uppercase
	letter-spacing: $spacing-letter
